:root { 
--gray_700:#666666; 
--blue_gray_100:#cccccc; 
--gray_500:#999999; 
--blue_800:#0555cd; 
--red_500:#ef4836; 
--gray_200:#eeeeee; 
--gray_300:#dddddd; 
--gray_100:#f2f3f4; 
--green_A700:#2ac96e; 
--black_900_33:#00000033; 
--black_900:#101010; 
--gray_200_01:#ededed; 
--blue_gray_900:#333333; 
--black_900_19:#00000019; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--red_A700:#b80000; 
}